In [44]:
from pandas.compat import StringIO
from collections import Counter
import pandas

In [9]:
pro_df = pandas.read_csv('data_profil.csv')
pro_df

     id jenis_kelamin                 divisi  umur
0     1     Laki-laki       Customer Service    34
1     2     Laki-laki          Data Engineer    26
2     3     Laki-laki      Software Engineer    28
3     4     Perempuan  Business Intelligence    21
4     5     Perempuan      Software Engineer    21
5     6     Laki-laki  Business Intelligence    28
6     7     Perempuan      Software Engineer    21
7     8     Laki-laki       Customer Service    22
8     9     Perempuan  Business Intelligence    21
9    10     Laki-laki           Data Science    21
10   11     Perempuan              Marketing    25
11   12     Laki-laki       Customer Service    28
12   13     Laki-laki          Data Engineer    25
13   14     Laki-laki          Data Engineer    25
14   15     Laki-laki          Data Engineer    33
15   16     Perempuan      Software Engineer    33
16   17     Laki-laki      Software Engineer    23
17   18     Laki-laki      Software Engineer    23
18   19     Laki-laki       Customer Service    31
19   20     Perempuan       Customer Service    23
20   21     Laki-laki      Software Engineer    30
21   22     Laki-laki       Customer Service    35
22   23     Perempuan      Software Engineer    34
23   24     Laki-laki      Software Engineer    28
24   25     Perempuan          Data Engineer    32
25   26     Laki-laki  Business Intelligence    34
26   27     Perempuan           Data Science    34
27   28     Laki-laki       Customer Service    34
28   29     Laki-laki  Business Intelligence    32
29   30     Laki-laki      Software Engineer    25
..  ...           ...                    ...   ...
70   71     Laki-laki  Business Intelligence    33
71   72     Perempuan  Business Intelligence    22
72   73     Laki-laki           Data Science    24
73   74     Laki-laki      Software Engineer    29
74   75     Perempuan      Software Engineer    23
75   76     Laki-laki      Software Engineer    27
76   77     Laki-laki  Business Intelligence    26
77   78     Laki-laki          Data Engineer    23
78   79     Perempuan          Data Engineer    25
79   80     Perempuan           Data Science    33
80   81     Laki-laki           Data Science    30
81   82     Laki-laki       Customer Service    27
82   83     Laki-laki  Business Intelligence    25
83   84     Laki-laki      Software Engineer    32
84   85     Laki-laki       Customer Service    34
85   86     Laki-laki      Software Engineer    29
86   87     Laki-laki  Business Intelligence    22
87   88     Laki-laki              Marketing    24
88   89     Perempuan              Marketing    24
89   90     Laki-laki  Business Intelligence    23
90   91     Laki-laki          Data Engineer    27
91   92     Laki-laki       Customer Service    27
92   93     Perempuan           Data Science    27
93   94     Laki-laki          Data Engineer    28
94   95     Laki-laki       Customer Service    34
95   96     Perempuan       Customer Service    23
96   97     Laki-laki      Software Engineer    32
97   98     Perempuan  Business Intelligence    28
98   99     Perempuan      Software Engineer    25
99  100     Perempuan      Software Engineer    29

[100 rows x 4 columns]

In [10]:

csv_string: str = open('catatan_lokasi.csv').read()
csv_string = csv_string.replace('/19', '/2019')
csv_string

str_io = StringIO(csv_string)
df_lokasi = pandas.read_csv(str_io)
df_lokasi['tanggal'] = pandas.to_datetime(df_lokasi['tanggal'], format = "%d/%m/%Y")
df_lokasi = df_lokasi.sort_values(by=["id", "tanggal"])
df_lokasi

       id    tanggal    lokasi_dominan
0       1 2019-05-21     Jakarta Pusat
100     1 2019-05-22     Jakarta Pusat
200     1 2019-05-23     Jakarta Pusat
300     1 2019-05-24       Kota Bekasi
400     1 2019-05-25       Kota Bekasi
500     1 2019-05-26        Kota Medan
600     1 2019-05-27       Kota Bekasi
700     1 2019-05-28       Kota Padang
800     1 2019-05-29       Kota Padang
900     1 2019-05-30       Kota Padang
1000    1 2019-05-31       Kota Padang
1100    1 2019-06-01       Kota Padang
1200    1 2019-06-02       Kota Padang
1300    1 2019-06-03       Kota Padang
1400    1 2019-06-04       Kota Padang
1500    1 2019-06-05       Kota Padang
1600    1 2019-06-06       Kota Padang
1700    1 2019-06-07       Kota Padang
1800    1 2019-06-08       Kota Padang
1900    1 2019-06-09       Kota Padang
2000    1 2019-06-10       Kota Padang
2100    1 2019-06-11       Kota Bekasi
2200    1 2019-06-12       Kota Bekasi
2300    1 2019-06-13     Jakarta Pusat
2400    1 2019-06-14     Jakarta Pusat
2500    1 2019-06-15     Jakarta Pusat
1       2 2019-05-21   Kabupaten Bogor
101     2 2019-05-22   Kabupaten Bogor
201     2 2019-05-23   Jakarta Selatan
301     2 2019-05-24   Kabupaten Bogor
...   ...        ...               ...
2298   99 2019-06-12     Jakarta Timur
2398   99 2019-06-13        Kota Depok
2498   99 2019-06-14  Kabupaten Bekasi
2598   99 2019-06-15     Jakarta Timur
99    100 2019-05-21     Jakarta Timur
199   100 2019-05-22     Jakarta Timur
299   100 2019-05-23     Jakarta Timur
399   100 2019-05-24     Jakarta Timur
499   100 2019-05-25     Jakarta Timur
599   100 2019-05-26     Jakarta Timur
699   100 2019-05-27     Jakarta Timur
799   100 2019-05-28     Jakarta Timur
899   100 2019-05-29     Jakarta Timur
999   100 2019-05-30  Kabupaten Sleman
1099  100 2019-05-31  Kabupaten Sleman
1199  100 2019-06-01  Kabupaten Sleman
1299  100 2019-06-02  Kabupaten Sleman
1399  100 2019-06-03  Kabupaten Sleman
1499  100 2019-06-04  Kabupaten Sleman
1599  100 2019-06-05  Kabupaten Sleman
1699  100 2019-06-06  Kabupaten Sleman
1799  100 2019-06-07  Kabupaten Sleman
1899  100 2019-06-08  Kabupaten Sleman
1999  100 2019-06-09  Kabupaten Sleman
2099  100 2019-06-10     Jakarta Timur
2199  100 2019-06-11     Jakarta Timur
2299  100 2019-06-12     Jakarta Timur
2399  100 2019-06-13     Jakarta Timur
2499  100 2019-06-14     Jakarta Timur
2599  100 2019-06-15     Jakarta Timur

[2600 rows x 3 columns]

In [11]:
id_before = -1
start_loc = []
end_loc = []

for row in df_lokasi.iterrows():
    current_id = row[1]['id']
    location = row[1]['lokasi_dominan']
    
    if (current_id != id_before):
        start_loc.append(location)
        end_loc.append(location)
    else :
        end_loc[-1] = location
    id_before = current_id

In [12]:
all([start_loc[i] == end_loc[i] for i in range(len(start_loc))])

True

In [18]:
join_df = pro_df.join(df_lokasi.set_index('id'), on ="id")
#join_df.to_csv('data_join.csv', index=False)
join_df

     id jenis_kelamin             divisi  umur    tanggal    lokasi_dominan
0     1     Laki-laki   Customer Service    34 2019-05-21     Jakarta Pusat
0     1     Laki-laki   Customer Service    34 2019-05-22     Jakarta Pusat
0     1     Laki-laki   Customer Service    34 2019-05-23     Jakarta Pusat
0     1     Laki-laki   Customer Service    34 2019-05-24       Kota Bekasi
0     1     Laki-laki   Customer Service    34 2019-05-25       Kota Bekasi
0     1     Laki-laki   Customer Service    34 2019-05-26        Kota Medan
0     1     Laki-laki   Customer Service    34 2019-05-27       Kota Bekasi
0     1     Laki-laki   Customer Service    34 2019-05-28       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-05-29       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-05-30       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-05-31       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-01       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-02       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-03       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-04       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-05       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-06       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-07       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-08       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-09       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-10       Kota Padang
0     1     Laki-laki   Customer Service    34 2019-06-11       Kota Bekasi
0     1     Laki-laki   Customer Service    34 2019-06-12       Kota Bekasi
0     1     Laki-laki   Customer Service    34 2019-06-13     Jakarta Pusat
0     1     Laki-laki   Customer Service    34 2019-06-14     Jakarta Pusat
0     1     Laki-laki   Customer Service    34 2019-06-15     Jakarta Pusat
1     2     Laki-laki      Data Engineer    26 2019-05-21   Kabupaten Bogor
1     2     Laki-laki      Data Engineer    26 2019-05-22   Kabupaten Bogor
1     2     Laki-laki      Data Engineer    26 2019-05-23   Jakarta Selatan
1     2     Laki-laki      Data Engineer    26 2019-05-24   Kabupaten Bogor
..  ...           ...                ...   ...        ...               ...
98   99     Perempuan  Software Engineer    25 2019-06-12     Jakarta Timur
98   99     Perempuan  Software Engineer    25 2019-06-13        Kota Depok
98   99     Perempuan  Software Engineer    25 2019-06-14  Kabupaten Bekasi
98   99     Perempuan  Software Engineer    25 2019-06-15     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-21     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-22     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-23     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-24     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-25     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-26     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-27     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-28     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-29     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-05-30  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-05-31  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-01  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-02  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-03  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-04  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-05  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-06  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-07  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-08  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-09  Kabupaten Sleman
99  100     Perempuan  Software Engineer    29 2019-06-10     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-06-11     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-06-12     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-06-13     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-06-14     Jakarta Timur
99  100     Perempuan  Software Engineer    29 2019-06-15     Jakarta Timur

[2600 rows x 6 columns]

In [47]:
set(join_df['lokasi_dominan'])

{'Jakarta Barat',
 'Jakarta Pusat',
 'Jakarta Selatan',
 'Jakarta Timur',
 'Jakarta Utara',
 'Kabupaten Bantul',
 'Kabupaten Bekasi',
 'Kabupaten Bogor',
 'Kabupaten Kebumen',
 'Kabupaten Lampung Selatan',
 'Kabupaten Sleman',
 'Kabupaten Tangerang',
 'Kabupaten Tasikmalaya',
 'Kabupaten Wonogiri',
 'Kota Banda Aceh',
 'Kota Bandar Lampung',
 'Kota Bandung',
 'Kota Bekasi',
 'Kota Bogor',
 'Kota Depok',
 'Kota Manado',
 'Kota Medan',
 'Kota Padang',
 'Kota Semarang',
 'Kota Surabaya',
 'Kota Tangerang',
 'Kota Tangerang Selatan',
 'Kota Yogyakarta'}

In [45]:
kota_mudik = []
for i, row, in enumerate(join_df.iterrows()):
    if (i % 26 == 15):
        kota_mudik.append(row[1]['lokasi_dominan'])
kota_mudik

['Kota Padang',
 'Kota Manado',
 'Kota Padang',
 'Kota Bandar Lampung',
 'Kota Yogyakarta',
 'Kabupaten Sleman',
 'Kota Medan',
 'Kota Semarang',
 'Kota Padang',
 'Kota Yogyakarta',
 'Kabupaten Sleman',
 'Kabupaten Bantul',
 'Kabupaten Tasikmalaya',
 'Kabupaten Lampung Selatan',
 'Kota Bandung',
 'Kota Bekasi',
 'Kota Medan',
 'Kota Semarang',
 'Kota Yogyakarta',
 'Kabupaten Lampung Selatan',
 'Kota Bandung',
 'Kota Bandar Lampung',
 'Kabupaten Wonogiri',
 'Kabupaten Tasikmalaya',
 'Kota Yogyakarta',
 'Kabupaten Sleman',
 'Kota Padang',
 'Kabupaten Kebumen',
 'Kabupaten Sleman',
 'Kota Yogyakarta',
 'Kota Manado',
 'Kota Bandung',
 'Kabupaten Sleman',
 'Kota Bandar Lampung',
 'Kabupaten Sleman',
 'Kota Medan',
 'Kabupaten Tasikmalaya',
 'Kabupaten Sleman',
 'Kota Semarang',
 'Kota Medan',
 'Kota Surabaya',
 'Kota Surabaya',
 'Kabupaten Lampung Selatan',
 'Kabupaten Sleman',
 'Kabupaten Bantul',
 'Kabupaten Sleman',
 'Kabupaten Lampung Selatan',
 'Kabupaten Bantul',
 'Kota Surabaya',
 'Kota Banda Aceh',
 'Kota Manado',
 'Kabupaten Bantul',
 'Kabupaten Tangerang',
 'Kabupaten Lampung Selatan',
 'Kota Bandung',
 'Kabupaten Sleman',
 'Kabupaten Sleman',
 'Kota Medan',
 'Kota Surabaya',
 'Kota Padang',
 'Kota Medan',
 'Kabupaten Wonogiri',
 'Kota Medan',
 'Kota Surabaya',
 'Kota Yogyakarta',
 'Kota Bandar Lampung',
 'Kota Banda Aceh',
 'Kota Bandar Lampung',
 'Kota Yogyakarta',
 'Kota Surabaya',
 'Kabupaten Bantul',
 'Kota Semarang',
 'Kabupaten Sleman',
 'Kabupaten Bekasi',
 'Kota Tangerang Selatan',
 'Kota Tangerang Selatan',
 'Kabupaten Bekasi',
 'Jakarta Timur',
 'Kota Yogyakarta',
 'Kabupaten Lampung Selatan',
 'Kota Yogyakarta',
 'Kabupaten Wonogiri',
 'Kabupaten Lampung Selatan',
 'Kota Padang',
 'Kabupaten Sleman',
 'Jakarta Barat',
 'Kota Medan',
 'Kota Padang',
 'Kota Bogor',
 'Kota Semarang',
 'Kabupaten Bantul',
 'Kabupaten Wonogiri',
 'Kota Padang',
 'Kota Medan',
 'Kota Bandung',
 'Kota Yogyakarta',
 'Kota Bandar Lampung',
 'Kota Yogyakarta',
 'Kabupaten Wonogiri',
 'Kabupaten Sleman']

In [41]:
#pernah ke medan
medan = join_df[join_df['lokasi_dominan'] == 'Kota Medan']
karyawan_ke_medan = set(medan['id'])
print(karyawan_ke_medan)
print(len(karyawan_ke_medan))

{1, 36, 7, 40, 17, 49, 19, 87, 58, 61, 94, 63}
12

In [55]:
#kota mudik terbanyak
bukan_kota_mudik = [
    'Kabupaten Bekasi',
    'Kota Tangerang',
    'Kota Tangerang Selatan', 
    'Kabupaten Tangerang', 
    'Kota Bekasi', 
    'Jakarta Barat',
    'Jakarta Pusat',
    'Jakarta Selatan',
    'Jakarta Timur',
    'Jakarta Utara', 
    'Kota Bogor',
    'Kabupaten Bogor',
    'Kota Depok']
mudik_freq = Counter(kota_mudik)
mudik_freq

Counter({'Kota Padang': 8,
         'Kota Manado': 3,
         'Kota Bandar Lampung': 6,
         'Kota Yogyakarta': 11,
         'Kabupaten Sleman': 14,
         'Kota Medan': 9,
         'Kota Semarang': 5,
         'Kabupaten Bantul': 6,
         'Kabupaten Tasikmalaya': 3,
         'Kabupaten Lampung Selatan': 7,
         'Kota Bandung': 5,
         'Kota Bekasi': 1,
         'Kabupaten Wonogiri': 5,
         'Kabupaten Kebumen': 1,
         'Kota Surabaya': 6,
         'Kota Banda Aceh': 2,
         'Kabupaten Tangerang': 1,
         'Kabupaten Bekasi': 2,
         'Kota Tangerang Selatan': 2,
         'Jakarta Timur': 1,
         'Jakarta Barat': 1,
         'Kota Bogor': 1})

In [58]:
tanggal_30 = join_df[join_df['tanggal'] == '2019-05-30']
mudik_tanggal_30 = []
count = 0
for i, row in enumerate(tanggal_30.iterrows()):
    if (row[1]['lokasi_dominan'] == kota_mudik[i]) and (kota_mudik[i] not in bukan_kota_mudik):
        count +=1
count

30

In [56]:
bukan_kota_mudik

['Kabupaten Bekasi',
 'Kota Tangerang',
 'Kota Tangerang Selatan',
 'Kabupaten Tangerang',
 'Kota Bekasi',
 'Jakarta Barat',
 'Jakarta Pusat',
 'Jakarta Selatan',
 'Jakarta Timur',
 'Jakarta Utara',
 'Kota Bogor',
 'Kabupaten Bogor',
 'Kota Depok']

In [68]:
tanggal_balik = []
added = False
for i, row, in enumerate(join_df.iterrows()):
    if (i % 26 == 0):
        added = False
    if (i % 26 > 15 and not added):
        if (row[1]['lokasi_dominan'] in bukan_kota_mudik   ):
            tanggal_balik.append(row[1]['tanggal'])
            added = True
Counter(tanggal_balik)

Counter({Timestamp('2019-06-11 00:00:00'): 18,
         Timestamp('2019-06-10 00:00:00'): 14,
         Timestamp('2019-06-08 00:00:00'): 9,
         Timestamp('2019-06-09 00:00:00'): 49,
         Timestamp('2019-06-13 00:00:00'): 1,
         Timestamp('2019-06-06 00:00:00'): 9})

In [ ]:
pulang = []
for i